<!DOCTYPE html>
<html>

<head>
    <title>Playlist Generator</title>
</head>

<body>
    {% if showSuccess %}
    <div class="alert alert-success">
        <strong>Success! Check your Spotify.</strong>
    </div>
    {% endif %}
    <p>This playlist generator will randomly pull from your liked songs on Spotify and will categorize them into the following playlists: ultra-chill, chill, or upbeat. These playlists will then be available on your Spotify account.
    </p><br />
    <form action="/generatePlaylists" method="post">
        <label for="maxNumTracks">How many tracks would you like per playlist?</label>
        <input type="number" id="maxNumTracks" name="maxNumTracks" min="1" max="100" value='30' required=true /><br /><br />
        <button type="submit" class="submitButton" id="submitButton">Generate Playlists</button>
    </form>
</body>

</html>