<!DOCTYPE html>
<html>

<head>
    <title>Playlist Generator</title>
</head>

<body>
    {% if showSuccess %}
    <div class="alert alert-success">
        <strong>Success! Check your Spotify.</strong>
    </div>
    {% endif %}
    <p>This playlist generator will pull from your liked songs on Spotify, and generate a chill and upbeat
        playlist. Please fill out the following form.
    </p><br />
    <form action="/generatePlaylists" method="post">
        <label for="chillPlaylistName">Name of chill playlist</label>
        <input type="text" id="chillPlaylistName" name="chillPlaylistName" required=true /><br /><br />
        <label for="upbeatPlaylistName">Name of upbeat playlist</label>
        <input type="text" id="upbeatPlaylistName" name="upbeatPlaylistName" required=true /><br /><br />
        <label for="numTracks">Number of tracks to pull from your liked songs</label>
        <input type="number" id="numTracks" name="numTracks" min="1" max="500" value='100' required=true /><br /><br />
        <label for="overwritePlaylist">Do you want to overwrite the playlists if they already exist?</label>
        <input type="checkbox" id="overwritePlaylist" name="overwritePlaylist" value="overwrite" /><br /><br />
        <button type="submit" class="submitButton" id="submitButton">Generate Playlists</button>
    </form>
</body>

</html>